[submodule "libraries/stb"]
	path = libraries/stb
	url = https://github.com/nothings/stb.git

[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
